@model business_logic.DTOs.UpdatedUserDto;

@{
    ViewData["Title"] = "Update Account Info";
}

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>

<!--User Info Update Form-->
<form class="col-lg-6 mx-auto mt-5" asp-controller="Account" asp-action="Update" method="post">
    <div class="mb-3">
        <label for="Name" class="form-label">New Name</label>
        <input type="text" asp-for="NewName" class="form-control" id="NewName">
        <span asp-validation-for="NewName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="CurrentPassword" class="form-label">Current Password</label>
        <input type="password" asp-for="CurrentPassword" class="form-control" id="CurrentPassword">
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="NewPassword" class="form-label">New Password</label>
        <input type="password" asp-for="NewPassword" class="form-control" id="NewPassword">
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div class="text-center position-absolute bottom-0 start-50 translate-middle-x">
    <a id="deleteAccountLink" class="text-danger text-decoration-underline" href="#">Delete My Account</a>
</div>

@section Scripts
{
    <!--Client Side Validation Script-->
    <partial name="_ValidationScriptsPartial" />

    @* Alert to confirm the delete of the account *@
    <script>
        document.getElementById('deleteAccountLink').addEventListener('click', function (e) {
            e.preventDefault();

            Swal.fire({
                title: 'Are you sure?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, Delete it!',
                cancelButtonText: 'Cancel'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '@Url.Action("DeleteAccount", "Account")';
                }
            });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
}