@model business_logic.DTOs.UpdatedBookDto;

@{
    ViewData["Title"] = $"Update {Model.ISBN} Book Info";
}

<!--Book Info Update Form-->
<form class="col-6 mx-auto mt-5" asp-controller="Library" asp-action="UpdateBook" method="post">
    <div class="mb-3">
        <label for="Title" class="form-label">New Title</label>
        <input type="text" asp-for="Title" class="form-control" id="Title">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="Author" class="form-label">New Author Name</label>
        <input type="text" asp-for="Author" class="form-control" id="Author">
        <span asp-validation-for="Author" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="ISBN" id="ISBN">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">Update</button>
    </div>
</form>

@section Scripts
{
    <!--Client Side Validation Script-->
    <partial name="_ValidationScriptsPartial" />
}